<div class="w-full max-w-[600px] mx-auto px-5 pt-[100px]">
  <h1 class="text-4xl mb-8">Upload your photos</h1>

  <div class="w-full bg-gray-200 rounded-full h-2.5 mb-4">
    <div
      class="bg-green-500 h-2.5 rounded-full"
      [style.width]="progress()"
    ></div>
  </div>

  <div
    class="mt-8 border-green-500 border-2 h-[200px] rounded-lg relative cursor-pointer flex justify-center items-center"
  >
    <input
      type="file"
      accept="images/*"
      (change)="changeInput($event)"
      class="absolute inset-0 opacity-0"
    />

    <div class="flex flex-col items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-file"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M14 3v4a1 1 0 0 0 1 1h4" />
        <path
          d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"
        />
      </svg>
      <p>Select File</p>
    </div>
  </div>
</div>
